/* Global Style */


body {
    font-family: "Poppins", sans-serif;
    background: #fafafa !important;
}

html {
    position: relative;
    min-height: 100%;
}

::selection {
    background-color: #1abc9c;
    color: #ffffff;
}

::-moz-selection {
    background-color: #1abc9c;
    color: #ffffff;
}

a {
    text-decoration: none !important;
    color: #1abc9c;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #333333;
}

b {
    font-weight: 600;
    color: #333333;
}

p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

button {
    background-color: transparent;
}

*:focus {
    outline: 0;
}

#main {
    margin: 50px 0;
}

.main-color {
    color: #1abc9c;
}

.page-body {
    background: #ffffff;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-radius: 2px;
}

.sub-title {
    padding: 30px;
}

.sub-title h2 {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 600;

}

.sub-title i {
    float: right;
    font-size: 35px;
    margin-top: 15px;
}

.content-page {
    padding-top: 30px;
    padding-bottom: 60px;

}

.grabbing {
    cursor: url(../images/owl-carousel/grabbing.png) 8 8, move;
}

.button {
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 60px;
    padding-left: 0px;
    display: inline-block;
    margin: 8px 30px;
    margin-left: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.button:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.button-style {
    color: #1abc9c;
    overflow: hidden;
}

.button-style:before {
    position: absolute;
    font-size: 27px;
    line-height: 38px;
    color: #1abc9c;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style:active:before {
    color: #1abc9c;
}

.button-anim:before {
    left: 60%;
    opacity: 0;
    top: 0;
}

.button-anim:hover:before {
    left: 75%;
    opacity: 1;
}

/* recipe (Left Sidebar) */

.about-fixed {
    position: fixed;
    width: 18.8%;
}

.state-pic {
    width: 100%;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: none;
}

.state-pic img {
    width: 100%;
}

.state-detail {
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

.state-detail .white-spacing {
    padding: 20px 0;
}

.state-detail h1 {
    font-size: 20px;
    font-weight: 700;
}

.state-detail span {
    color: #c1c1c1;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}

/* Blog Post & Single Blog Page */

div.blog-post {
    display: none;
    margin-bottom: 50px;
}

.post-image img {
    width: 100%;
}

.post-image p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.post-image a {
    font-weight: 600;
}

.post-title h1 {
    color: #333333;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 8px;
}

.post-title h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.blog-post .post-info {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #8c8c8c;
}

.blog-post p {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

.page-width {
    width: 80%;
    margin: 0 auto;
}
.blog-pic {
    width: 100%;
}

.blog-pic img {
    width: 100%;
    border-radius: 50%;
    padding: 10%;
}
}
.blog-name {
    text-align: center;
}
.container {
    padding-bottom: 5%;
}

.blog-detail {
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.white-spacing p {
    font-size: 3vw;
}

/* Responsive */

@media only screen and (max-width: 1199px) {
    .endpage-box {
        display: none !important;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #menu .menu-link li {
        margin: 2px 3px;
    }

    .my-detail h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .my-detail span {
        font-size: 15px;
        line-height: 29px;
    }

    .social-icon li a {
        width: 30px;
        height: 30px;
        line-height: 33px;
        font-size: 13px;
    }

    .social-icon li {
        margin: 2px 2px;
    }

    .post-quote {
        width: 90%;
    }

    .subscribe-form .text-input {
        font-size: 14px;
    }

    .subscribe-form .submit-btn {
        font-size: 14px;
        width: 100px;
    }
}


@media only screen and (max-width: 991px) {

    .about-fixed {
        position: inherit;
        width: auto;
    }

    .post-quote {
        width: 90%;
    }
}



@media only screen and (max-width: 767px) {

    .video-tutorial {
        width: 100%;
    }

    .custom-pad-1 {
        padding-right: 15px;
    }

    .custom-pad-2 {
        padding-left: 15px;
    }
    .blog-detail {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.white-spacing p {
    font-size: 3.5vw;
}
}


@media only screen and (max-width: 570px) {

    .subscribe-form .text-input {
        font-size: 12px;
    }

    .subscribe-form .submit-btn {
        font-size: 13px;
        width: 90px;
    }
    .blog-detail {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.white-spacing p {
    font-size: 4vw;
}
}


@media only screen and (max-width:479px) {

    #main {
        margin: 15px 0;
    }

    .sub-title {
        border-bottom: 1px dashed #cccccc;
        padding: 30px;
        display: inline-block;
        text-align: left;
        width: 100%;
    }
    .blog-detail {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.white-spacing p {
    font-size: 4vw;
}
}


@media only screen and (max-width:435px) {

    b {
        font-weight: 500;
    }

    .my-detail h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .my-detail span {
        font-size: 15px;
        line-height: 29px;
    }

    .post-title h1 {
        font-size: 22px;
        line-height: 32px;
        font-weight: 600;
    }

    .post-title h2 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }

    .blog-post .post-info {
        font-size: 13px;
        line-height: 29px;
        font-weight: 400;
    }

    .blog-post p {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    .sub-title h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .sub-title i {
        font-size: 25px;
        margin-top: 15px;
    }

    .blog-post .post-image p {
        font-size: 12px;
    }

    .video-box {
        width: 100%;
    }

    .video-tutorial .video-popup:after {
        font-size: 30px;
    }

    .video-tutorial:hover .video-popup:after {
        font-size: 45px;
    }

    .video-box p {
        font-size: 12px;
        line-height: 24px;
    }

    .post-quote {
        width: 100%;
    }

    .post-quote blockquote {
        padding: 40px 15px;
    }

    .list li {
        font-size: 14px;
    }

    .about-author .picture {
        float: none;
    }

    .about-author .c-padding {
        padding: 30px 0px;
    }

    .you-may-also-like h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .comment h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .social-icon li a {
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 14px;
    }

    .load-more-button {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 12px;
    }

    .end {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 12px;
    }

    .button {
        font-size: 13px;
        padding: 10px 0px;
        font-weight: 500;
    }

    .button-style:before {
        display: none;
    }

    #mc-form {
        padding: 50px 0px;
    }

    .subscribe-form .text-input {
        font-size: 11px;
    }

    .subscribe-form .submit-btn {
        font-size: 12px;
        width: 80px;
        position: inherit;
        padding: 12px;
        margin-bottom: 5px;
    }

    footer .menu-link a {
        margin: 4px 3px;
    }

    .scroll-to-top {
        font-size: 25px;
    }

.blog-detail {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.white-spacing p {
    font-size: 4vw;
}
}

#food-image{
    width:100%;
}
#main {
    margin: 50px 0;
}
.modal-title{
   margin:auto;
}
.modal-footer{
    margin: auto;
}
#map{
    margin-top:50px;
    margin-left:50px;
    width:100%;
}
#logo{
    width:50%;
    float:right;
}

#search{
     border: 2px solid #FFD348;
     border-radius: 5px;
     width:40%;
     height:40px;
}