<!-- *** Aaron Tang  contribution – SI 539 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arizona Recipe</title>
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
     <!-- *** Evan Metsky  contribution – SI 539 -->
     <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                  <button id = "hamburger" class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                    <div class="navbar-header">     
                    <a class="navbar-brand" href="index.html">
                        <img src="../static/img/logo.png" id = "logo" class="img-responsive" alt="Pancakes">
                    </a>
                  </div>
                          
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-left">
                      <li class="nav-item">
                        <a class="nav-link" href="index.html">HOME<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="recipe.html">RECIPES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="blog.html">BLOG</a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
</header>
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Location (Left Sidebar) Start -->
            <div class="col-md-3">
                <div class="about-fixed">
                    <div class="state-pic">
                        <img src="../static/img/state/arizona.jpg" alt="state image">
                    </div>
                    <div class="state-detail">
                        <div class="white-spacing">
                            <h1>Arizona</h1>
                            <span>Phoenix</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Location (Left Sidebar) End -->


            <!-- Recipe (Right Sidebar) Start -->
            <div class="col-md-9">
                <div class="col-md-12 page-body">
                    <div class="row">

                        <div class="post-image">
                            <img src="../static/img/recipe/arizona.jpg" alt="recipe image">
                        </div>

                        <div class="sub-title">
                            <div class="post-title">
                                <h1>Machaca Breakfast Burrito</h1>
                            </div>
                            <p>Arizona shares its southern border with the Mexican state of Sonora, and the food reflects the geography. To combine numerous local favorites, order a deep-fried chimichanga or a breakfast burrito — sometimes called a “burro” — with machaca (dried, spiced beef or pork), green chiles, and eggs, wrapped in a fresh flour tortilla.</p>
                            <p>Directions:</p>
                            <p>1. Melt butter in a large skillet, and saute onions for 5 minutes.</p>
                            <p>2. Add in meat and tomatoes and mix with the onions.</p>
                            <p>3. Once heated through, break eggs over meat mixture and scramble together until done.</p>
                            <p>4. Sprinkle cheese over Machaca mixture and let melt.</p>
                            <p>5. Spoon mixture onto tortillas and fold and eat! You can use sour cream and salsa if you like, but we like it without!</p>
                            <p>Source: The Daily Meal, www.geniuskitchen.com</p>
                            
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1177.217526330374!2d-112.05676185918267!3d33.43174303499761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b11e42ec9e6eb%3A0x2059f7a4c6cde003!2sCarolina&#39;s+Mexican+Food!5e0!3m2!1sen!2sus!4v1512441246539" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>     
                       
                        </div>
                    </div>
                    <!-- Comment area start -->
                    <!-- *** Evan Metsky  contribution – SI 539 -->

                    <div class = "container" id = "posted-comments">

                        <div class = "row">
                            <div class="col-12 comments">

                                <form>
                                    <div class = "row">
                                        <div class = "col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="nickname">Name or nickname</label>
                                                <input type="text" class="form-control" id="nickname" placeholder="Enter public name">
                                            </div>
                                        </div>
                                        <div class = "col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="emailConfirm">Email address</label>
                                                <input type="email" class="form-control" id="emailConfirm" placeholder="Enter email">
                                                <small id="message" class="form-text text-muted">Your email will not be shared!</small>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="comment">Comment</label>
                                        <textarea class="form-control" id="comment" placeholder="Write your comment here..."></textarea>
                                    </div>

                                    <button type="button" class="btn btn-primary" onclick="onSubmit()">Submit Comment</button>
                                </form>

                            </div>
                            <div class = "col-1"></div>
                        </div>
                    </div>

                    <!-- Comment area End -->
                </div>
            </div>
            <!-- Recipe (Right Sidebar) End -->

        </div>
    </div>
</div>
<!-- *** Ling Zhong  contribution – SI 539 -->
<footer>
    <div class="footer-container">
        <p class= "credit">
            Design By <br>
            <span id ="credit">Aaron Tang &nbsp;&nbsp; Evan Metsky&nbsp;&nbsp; Marcy Held  &nbsp;&nbsp;Ling Zhong <br>
            with Passion, Calmness, Love <br></span>
        </p>
    </div>
</footer>

</body>
</html>
