<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colorado Recipe</title>
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                  <button id = "hamburger" class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                    <div class="navbar-header">     
                    <a class="navbar-brand" href="index.html">
                        <img src="../static/img/logo.png" id = "logo" class="img-responsive" alt="Pancakes">
                    </a>
                  </div>
                          
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-left">
                      <li class="nav-item">
                        <a class="nav-link" href="index.html">HOME<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="recipe.html">RECIPES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="blog.html">BLOG</a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
</header>
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Location (Left Sidebar) Start -->
            <div class="col-md-3">
                <div class="blog-detail">
                    <div class="state-pic">
                        <img src="../static/img/state/colorado.jpg" alt="The state of New Jersey">
                        <div id="menu" class="collapse">
                            <ul class="menu-link">
                                <li><a href="about.html">About</a></li>
                                <li><a href="work.html">Work</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                        <div class="state-white-spacing">
                            <h1>Colorado</h1>
                            <span>Boulder</span>
                        </div>
                </div>
            </div>
            <!-- Location (Left Sidebar) End -->


            <!-- Recipe (Right Sidebar) Start -->
            <div class="col-md-9">
                <div class="col-md-12 page-body">
                    <div class="row">

                        <div class="post-image">
                            <img src="../static/img/recipe/colorado_recipe.jpg" alt="Fasnacht doughnuts">
                        </div>

                        <div class="sub-title">
                            <div class="post-title">
                                <h1>Cinnamon Roll Recipe</h1>
                            </div>
                            <p>Ready in: 2 hours</p>
                            <p>Yield: 16 cinnamon rolls</p>
                            <p><strong>Ingredients:</strong></p>
                            <p>2 packages active dry yeast (5 teaspoons)</p>
                            <p>3/4 cup warm water</p>
                            <p>3/4 cup sugar</p>
                            <p>1/2 cup vegetable shortening (such as Crisco), melted</p>
                            <p>1/4 cup plus, 6 tablespoons unsalted butter, melted, plus extra butter at room temperature for the bowl and pan</p>
                            <p>3 eggs</p>
                            <p>1 and 1/2 cups milk</p>
                            <p>6-7 cups bread flour</p>
                            <p>1 teaspoon salt</p>
                            <p>3/4 cup confectioners’ sugar</p>
                            <p>1 teaspoon vanilla extract</p>
                            <p>Milk</p>
                            <p><strong>Directions:</strong></p>
                            <p>First make the sweet dough. In a bowl, dissolve yeast in warm water. Make sure the mixture bubbles after a few minutes. If it does not, your yeast is not fresh, and you’ll need to start over with a fresher package.</p>
                            <p>Combine the sugar, shortening, the 1/4 cup melted butter, eggs, and milk in the work bowl of a stand mixer. Blend together quickly, using the paddle attachment. Add yeasted water and blend together quickly. In another bowl, stir the flour and salt together. Add the dough hook attachment to the mixer, then add flour a cup at a time to the liquid ingredients. Mix until thoroughly blended and the dough starts to pull away from the sides of the bowl. Remove dough from bowl, place on counter, and knead until it’s almost smooth (5 minutes or so). Transfer dough to a buttered bowl, cover with plastic wrap, and place in a warm spot to rise for 1 hour.</p>
                            <p>While the dough is rising, make the filling. In a bowl combine the granulated sugar, brown sugar and cinnamon.</p>
                            <p>Preheat oven to 400 degrees.</p>
                            <p>After the dough has risen, roll it out in a rectangle that is about a quarter-inch thick and about 24 inches long by 10 inches wide. Brush dough with the remaining 6 tablespoons of melted butter. Sprinkle cinnamon filling over melted butter, covering all the dough. Roll the dough up like a jellyroll, starting at one of the rectangle’s long sides. After you’ve rolled it, the ends will be a little irregular, so trim them off. Slice roll into 1 1/2-inch rounds; you should have 16. Arrange them on one or more large, buttered sheet pans, or in two or more large, buttered cast-iron frying pans. Leave about 1 inch of space between the rolls. Bake cinnamon rolls for about 20 minutes or until they are golden and puffed up.</p>
                            <p>Meanwhile, make the glaze. In a bowl whisk together the confectioners’ sugar, vanilla and milk – a little milk if you like a thick, frosting-style glaze, more if you like a thinner glaze. Cover and set aside.</p>
                            <p>The rolls will emerge from the oven stuck together. Cool for 5 minutes and drizzle with glaze. Separate the rolls and serve hot.</p>
                            <p>Source: www.denverpost.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recipe (Right Sidebar) End -->

        </div>
    </div>
</div>
<footer>
    <div class="footer-container">
        <p class= "credit">
            Design By <br>
            <span id ="credit">Aaron Tang &nbsp;&nbsp; Evan Mestky&nbsp;&nbsp; Marcy Held  &nbsp;&nbsp;Ling Zhong <br>
            with Passion, Calmness, Love <br></span>
        </p>
    </div>
</footer>


</body>
</html>