<!-- *** Marcy Held  contribution – SI 539 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Jersey Recipe</title>
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                  <button id = "hamburger" class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                    <div class="navbar-header">     
                    <a class="navbar-brand" href="index.html">
                        <img src="../static/img/logo.png" id = "logo" class="img-responsive" alt="Pancakes">
                    </a>
                  </div>
                          
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-left">
                      <li class="nav-item">
                        <a class="nav-link" href="index.html">HOME</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="recipe.html">RECIPES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="blog.html">BLOG</a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
</header>
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Location (Left Sidebar) Start -->
            <div class="col-md-3">
                <div class="about-fixed">
                    <div class="state-pic">
                        <img src="../static/img/state/newjersey.jpg" alt="The State of New Jersey">
                    </div>
                    <div class="state-detail">
                        <div class="white-spacing">
                            <h1>New Jersey</h1>
                            <span>Trenton</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Location (Left Sidebar) End -->


            <!-- Recipe (Right Sidebar) Start -->
            <div class="col-md-9">
                <div class="col-md-12 page-body">
                    <div class="row">

                        <div class="post-image">
                            <img src="../static/img/recipe/newjersey_recipe.jpg" alt="Pork roll sandwich">
                        </div>

                        <div class="sub-title">
                            <div class="post-title">
                                <h1>Pork Roll Sandwich Recipe</h1>
                            </div>
                            <p>Ready in: 10 minutes</p>
                            <p>Yield: 1 sandwich</p>
                            <p><strong>Ingredients:</strong></p>
                            <p>1 roll</p>
                            <p>1 egg</p>
                            <p>1 slice of American cheese</p>
                            <p>2 slices of Taylor Ham (pork roll)</p>
                            <p>1 teaspoon butter</p>
                            <p><strong>Directions:</strong></p>
                            <p>Cut roll in half</p>
                            <p>Make 4 small cuts around the Taylor Ham slices</p>
                            <p>Put the Taylor Ham on the pan to start browning it (it’s already cooked so you are just heating it up).</p>
                            <p>Cook your egg to your liking. I think over easy is the best because then you get the runny yolk.</p>
                            <p>Top the Taylor Ham with cheese so it starts to melt.</p>
                            <p>Toast the roll.</p>
                            <p>Assemble the sandwich of your dreams!!</p>
                            <p>Source: www.spoonuniversity.com</p>
                        </div>
                    </div>
                    <!-- Comment area start -->
                    <!-- *** Evan Metsky  contribution – SI 539 -->
                    <div class = "container" id = "posted-comments">

                        <div class = "row">
                            <div class="col-12 comments">

                                <form>
                                    <div class = "row">
                                        <div class = "col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="nickname">Name or nickname</label>
                                                <input type="text" class="form-control" id="nickname" placeholder="Enter public name">
                                            </div>
                                        </div>
                                        <div class = "col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="emailConfirm">Email address</label>
                                                <input type="email" class="form-control" id="emailConfirm" placeholder="Enter email">
                                                <small id="message" class="form-text text-muted">Your email will not be shared!</small>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="comment">Comment</label>
                                        <textarea class="form-control" id="comment" placeholder="Write your comment here..."></textarea>
                                    </div>

                                    <button type="button" class="btn btn-primary" onclick="onSubmit()">Submit Comment</button>
                                </form>

                            </div>
                            <div class = "col-1"></div>
                        </div>
                    </div>

                    <!-- Comment area End -->
                </div>
            </div>
            <!-- Recipe (Right Sidebar) End -->

        </div>
    </div>
</div>
<!-- *** Ling Zhong  contribution – SI 539 -->
<footer>
    <div class="footer-container">
        <p class= "credit">
            Design By <br>
            <span id ="credit">Aaron Tang &nbsp;&nbsp; Evan Metsky&nbsp;&nbsp; Marcy Held  &nbsp;&nbsp;Ling Zhong <br>
            with Passion, Calmness, Love <br></span>
        </p>
    </div>
</footer>


</body>
</html>
