<!-- *** Aaron Tang  contribution – SI 539 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New York Recipe</title>
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
     <!-- *** Evan Metsky  contribution for nav bar – SI 539 -->
     <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                  <button id = "hamburger" class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                    <div class="navbar-header">     
                    <a class="navbar-brand" href="index.html">
                        <img src="../static/img/logo.png" id = "logo" class="img-responsive" alt="Pancakes">
                    </a>
                  </div>
                          
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-left">
                      <li class="nav-item">
                        <a class="nav-link" href="index.html">HOME<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="recipe.html">RECIPES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="blog.html">BLOG</a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
</header>
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Location (Left Sidebar) Start -->
            <div class="col-md-3">
                <div class="about-fixed">
                    <div class="state-pic">
                        <img src="../static/img/state/newyork.jpg" alt="The City of New York">
                    </div>
                    <div class="state-detail">
                        <div class="white-spacing">
                            <h1>New York</h1>
                            <span>New York City</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Location (Left Sidebar) End -->


            <!-- Recipe (Right Sidebar) Start -->
            <div class="col-md-9">
                <div class="col-md-12 page-body">
                    <div class="row">

                        <div class="post-image">
                            <img src="../static/img/recipe/newyork.jpg" alt="recipe image">
                        </div>

                        <div class="sub-title">
                            <div class="post-title">
                                <h1>Bagels</h1>
                            </div>
                            <p>Apologies to New Yorkers living outside of New York City, but when the best bagels in the world come from somewhere in your state, it needs to be acknowledged. For the epitome of a New York breakfast, order your fresh bagel with a schmear of cream cheese and some lox or smoked salmon. </p>
                            <p>Directions:</p>
                            <p>1. Combine 1 1/4 cup water, flour, sugar, 1 teaspoon salt, vegetable oil, and yeast in the mixing bowl of a stand mixer. Mix on low speed using the dough hook until well-developed, about 8 minutes. To ensure the gluten has developed fully, cut off a walnut-sized piece of dough. Flour your fingers, and then stretch the dough: if it tears immediately, the dough needs more kneading. Fully developed dough should form a thin translucent "windowpane."</p>
                            <p>2. Transfer the dough to a lightly oiled bowl, cover it with plastic wrap and a kitchen towel, and let rise for 2 hours.</p>
                            <p>3. Punch the dough down, place it on a lightly floured work surface, and use a knife or dough scraper to divide the dough into 6 pieces (or more, for smaller bagels). Roll each piece of dough into a sausage shape about 6 inches long. Join the ends to form a circle. Repeat with the remaining dough, and let the bagels rest for 15 minutes.</p>
                            <p>4. Preheat oven to 475 degrees F (245 degrees C). Line a baking sheet with parchment paper. Arrange small plates with poppy seeds, sesame seeds, and onion flakes next to the baking sheet.</p>
                            <p>5. Bring 4 quarts water to a boil in a large pot. Add honey, if desired (see Editor's Note). Boil the bagels, three at a time, until they rise to the surface of the pot, about 1 minute per side. Remove the bagels with a slotted spoon and place them on the parchment-lined baking sheet.</p>
                            <p>6. Dip the tops of the wet bagels into the toppings and arrange them, seeds up, on the baking sheet. Sprinkle with coarse salt, if desired. Bake in the preheated oven until the bagels begin to brown, 15 to 20 minutes.</p>
                            <p>Source: The Daily Meal, allrecipes.com</p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1795.7973736795084!2d-73.96845427573564!3d40.80249642564564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f63b33ef6d2d%3A0xc0c3585923a7de1a!2sAbsolute+Bagels!5e0!3m2!1sen!2sus!4v1512441517213" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            
                        </div>
                    </div>
                    <!-- Comment area start -->
                    <!-- *** Evan Metsky  contribution – SI 539 -->
                    <div class = "container" id = "posted-comments">

                        <div class = "row">
                            <div class="col-12 comments">

                                <form>
                                    <div class = "row">
                                        <div class = "col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="nickname">Name or nickname</label>
                                                <input type="text" class="form-control" id="nickname" placeholder="Enter public name">
                                            </div>
                                        </div>
                                        <div class = "col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="emailConfirm">Email address</label>
                                                <input type="email" class="form-control" id="emailConfirm" placeholder="Enter email">
                                                <small id="message" class="form-text text-muted">Your email will not be shared!</small>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="comment">Comment</label>
                                        <textarea class="form-control" id="comment" placeholder="Write your comment here..."></textarea>
                                    </div>

                                    <button type="button" class="btn btn-primary" onclick="onSubmit()">Submit Comment</button>
                                </form>

                            </div>
                            <div class = "col-1"></div>
                        </div>
                    </div>

                    <!-- Comment area End -->
                </div>
            </div>
            <!-- Recipe (Right Sidebar) End -->

        </div>
    </div>
</div>
<!-- *** Ling Zhong  contribution – SI 539 -->
<footer>
    <div class="footer-container">
        <p class= "credit">
            Design By <br>
            <span id ="credit">Aaron Tang &nbsp;&nbsp; Evan Metsky&nbsp;&nbsp; Marcy Held  &nbsp;&nbsp;Ling Zhong <br>
            with Passion, Calmness, Love <br></span>
        </p>
    </div>
</footer>

</body>
</html>
