<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pennsylvania Recipe</title>
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                  <button id = "hamburger" class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                    <div class="navbar-header">     
                    <a class="navbar-brand" href="index.html">
                        <img src="img/logo.png" id = "logo" class="img-responsive" alt="Pancakes">
                    </a>
                  </div>
                          
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-left">
                      <li class="nav-item active">
                        <a class="nav-link" href="index.html">HOME<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="recipe.html">RECIPES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="blog.html">BLOG</a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
</header>
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Location (Left Sidebar) Start -->
            <div class="col-md-3">
                <div class="about-fixed">
                    <div class="state-pic">
                        <img src="img/state/pennsylvania.jpg" alt="The state of Pennsylvania">
                        <div id="menu" class="collapse">
                            <ul class="menu-link">
                                <li><a href="about.html">About</a></li>
                                <li><a href="work.html">Work</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="state-detail">

                        <div class="white-spacing">
                            <h1>Pennsylvania</h1>
                            <span>Philadelphia</span>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Location (Left Sidebar) End -->


            <!-- Recipe (Right Sidebar) Start -->
            <div class="col-md-9">
                <div class="col-md-12 page-body">
                    <div class="row">

                        <div class="post-image">
                            <img src="img/recipe/pennsylvania_recipe.jpg" alt="Fasnacht doughnuts">
                        </div>

                        <div class="sub-title">
                            <div class="post-title">
                                <h1>Fasnacht Recipe</h1>
                            </div>
                            <p>Ready in: 4 hours 30 minutes</p>
                            <p>Yield: 3 dozen doughnuts</p>
                            <p><strong>Ingredients:</strong></p>
                            <p>2 Idaho potatoes (about 1 pound)</p>
                            <p>salt</p>
                            <p>1 and 1/2 cups white granulated sugar, plus more for coating</p>
                            <p>two 1/4 ounce packages active dry yeast</p>
                            <p>2 eggs, beaten</p>
                            <p>2/3 cup unsalted butter (5 ounces), melted</p>
                            <p>6 cups all-purpose flour, plus more for dusting</p>
                            <p>vegetable oil, for frying</p>
                            <p>molasses for serving, optional</p>
                            <p><strong>Directions:</strong></p>
                            <p>Special equipment: 2 brown paper bags, 3-inch cookie cutter</p>
                            <p>Place the potatoes in a medium saucepan, cover with cold water by 2 inches and season generously with salt. Bring to a boil over high heat, then lower the heat to maintain a gentle simmer and cook until very tender, about 15 minutes. Reserve 1 1/2 cups of the potato cooking water. Drain and mash the potatoes until smooth. Set the mashed potatoes aside and cool slightly.</p>
                            <p>In a medium bowl, stir together the mashed potatoes, reserved potato cooking water, sugar and yeast. Cover with a tea towel and let the mixture rise for 20 minutes; it will look foamy.</p>
                            <p>Using a sieve, strain the mixture into a large bowl, smoothing out any lumps. Stir in the eggs and melted butter. Stir 5 cups of the flour, one cup at a time, until a dough starts to form. Gently knead the remaining 1 cup of flour in until the dough pulls away from the sides of the bowl and forms a large ball. Cover with a tea towel and put in a warm place to rise for 3 hours.</p>
                            <p>Dust some flour onto a baking sheet. On a well-floured surface, roll out the dough to 1/2-inch thick. Using a 3-inch cookie cutter, cut out the doughnuts and set on the prepared baking sheet. Cover lightly with a tea towel, and let rise for 30 minutes.</p>
                            <p>Line a baking sheet with a split paper bag. In a deep fryer or Dutch oven, pour enough oil to fill no more than halfway up the side. Heat the oil until a deep-frying thermometer inserted in the oil reaches 365 degrees F.</p>
                            <p>Gently place the doughnuts into the oil, two at a time. Cook until golden brown, about 2 minutes per side. Transfer the doughnuts to the prepared baking sheet to absorb some of the oil. Place the doughnuts in the remaining paper bag with a heaping spoonful of sugar and shake gently until the doughnuts are thoroughly coated. You may leave some plain to slice in half and spread with molasses if using. Serve immediately.</p>
                            <p>Source: www.cookingchaneltv.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recipe (Right Sidebar) End -->

        </div>
    </div>
</div>

<footer>
    <div class="footer-container">
        <p class= "credit">
            Design By <br>
            <span id ="credit">Aaron Tang &nbsp;&nbsp; Evan Metsky&nbsp;&nbsp; Marcy Held  &nbsp;&nbsp;Ling Zhong <br>
            with Passion, Calmness, Love <br></span>
        </p>
    </div>
</footer>
</body>
</html>