<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img src="../static/img/logo.png" id = "logo" class="img-responsive" alt="Pancakes"></a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">HOME<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="recipe.html">RECIPES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Blog.html">BLOG</a>
                  </li>
                </ul>
              </div>
            </nav>
</header>

<div id="main">
    <div class="container">
        <div class="row">

            <!-- Location (Left Sidebar) Start -->
        
                <div class="card">
                    <a href="arizona_recipe.html"><div class="recipe-pic">
                        <img src="../static/img/state/arizona.jpg" alt="recipe pic">    
                    </div>

                    <div class="recipe-detail">

                        <div class="white-spacing">
                            <h1 class="card-text">Machaca Breakfast Burro</h1>
                            <span class="card-text">Arizona</span>
                        </div>
                    </div></a>
                </div>
        
            <!-- Location (Left Sidebar) End -->

                        <!-- Location (Left Sidebar) Start -->
        
                <div class="card">
                    <a href="colorado_recipe.html"><div class="recipe-pic">
                        <img src="../static/img/state/colorado.jpg" alt="recipe pic">
                    </div>

                    <div class="recipe-detail">

                        <div class="white-spacing">
                            <h1 class="card-text">Cinnamon Roll</h1>
                            <span class="card-text">Colorado</span>
                        </div>
                    </div><a>
                </div>

             <!-- Location (Left Sidebar) End -->

                        <!-- Location (Left Sidebar) Start -->
        
                <div class="card">
                    <a href="michigan_recipe.html"><div class="recipe-pic">
                        <img src="../static/img/state/michigan.jpg" alt="recipe pic">
                    </div>

                    <div class="recipe-detail">

                        <div class="white-spacing">
                            <h1 class="card-text">Pannukakku</h1>
                            <span class="card-text">Michigan</span>
                        </div>
                    </div></a>
                </div>
        
            <!-- Location (Left Sidebar) End -->
                
        

                        <!-- Location (Left Sidebar) Start -->
        
                <div class="card">
                    <a href="newjersey_recipe.html"><div class="recipe-pic">
                        <img src="../static/img/state/newjersey.jpg" alt="recipe pic">
                    </div>

                    <div class="recipe-detail">

                        <div class="white-spacing">
                            <h1 class="card-text">Pork Roll</h1>
                            <span class="card-text">New Jersey</span>
                        </div>
                    </div></a>
                </div>
        
            <!-- Location (Left Sidebar) End -->

                                    <!-- Location (Left Sidebar) Start -->
        
                <div class="card">
                    <a href="newyork_recipe.html"><div class="recipe-pic">
                        <img src="../static/img/state/newyork.jpg" alt="recipe pic">
                    </div>

                    <div class="recipe-detail">

                        <div class="white-spacing">
                            <h1 class="card-text">Bagels</h1>
                            <span class="card-text">New York</span>
                        </div>
                    </div></a>
                </div>
        
            <!-- Location (Left Sidebar) End -->

                                    <!-- Location (Left Sidebar) Start -->
        
                <div class="card">
                    <a href="Pennsylvania_recipe.html"><div class="recipe-pic">
                        <img src="../static/img/state/Pennsylvania.jpg" alt="recipe pic">
                    </div>

                    <div class="recipe-detail">

                        <div class="white-spacing">
                            <h1 class="card-text">Fasnacht</h1>
                            <span class="card-text">Pennsylvania</span>
                        </div>


                    </div></a>
                </div>
        
            <!-- Location (Left Sidebar) End -->
        </div>
    </div>
</div>

<footer>
    <div class="footer-container">
        <p class= "credit">
            Design By <br>
            <span id ="credit">Aaron Tang &nbsp;&nbsp; Evan Metsky&nbsp;&nbsp; Marcy Held  &nbsp;&nbsp;Ling Zhong <br>
            with Passion, Calmness, Love <br></span>
        </p>
    </div>
</footer>


</body>
</html>