<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="index.html"><static/img src="static/img/logo.png" id = "logo" class="static/img-responsive" alt="Pancakes"></a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html">HOME<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="recipe.html">RECIPES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blog.html">BLOG</a>
                  </li>
                </ul>
              </div>
            </nav>
</header>
<body>
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Location (Left Sidebar) Start -->
            <div class="col-md-3">
                <div class="about-fixed">
                    <div class="state-pic">
                        <static src="/static/img/state/michigan.jpg" alt="">
                        <div id="menu" class="collapse">
                            <ul class="menu-link">
                                <li><a href="about.html">About</a></li>
                                <li><a href="work.html">Work</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="state-detail">

                        <div class="white-spacing">
                            <h1>Michigan</h1>
                            <span>Ferndale</span>
                        </div>


                    </div>
                </div>
            </div>
            <!-- Location (Left Sidebar) End -->


            <!-- Recipe (Right Sidebar) Start -->
            <div class="col-md-9">
                <div class="col-md-12 page-body">
                    <div class="row">

                        <div class="post-image">
                            <static src="static/img/recipe/mi_recipe.jpg" alt="">
                        </div>

                        <div class="sub-title">
                            <div class="post-title">
                                <h1>The Cowboy Curtis From The Fly Trap</h1>
                            </div>
                            <p>The Fly Trap is not your granddaddy’s diner: The inside is sleek, the soundtrack is ska and reggae, and the breakfast is, well, it’s called “blunch”: hearty entrees with a breakfast twist. One prime example is the Cowboy Curtis, a hefty cut of steak served with two fried eggs, garlic potatoes and toast. Thick “Wildwest” sauce (it’s like ketchup with a kick) ties it all together. 22950 Woodward Ave.</p>
                            <p>source: foodnetwork.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recipe (Right Sidebar) End -->

        </div>
    </div>
</div>


</body>
</html>